---
import NoticeLayout from "@/layouts/NoticeLayout.astro";
import BRDTLIST001 from '@/components/breadcrumb/BRDTLIST-001.astro';
import { BASE_URL } from '@/lib/env';
import NewsSideNav from '@/components/nav/news_side_nav.astro';
import NewsShop from '@/components/notice/news_shop.astro';

const meta = {
  title: '2025年7月　店舗情報のお知らせ',
  description: 'アイフルからのお知らせ',
  keywords: 'アイフル,消費者金融,カードローン',
  author: 'アイフル株式会社',
  canonical: `${BASE_URL}/notice/a2025071101/`,
  ogUrl: `${BASE_URL}/notice/a2025071101/`,
  ogImage: `${BASE_URL}/assets/common/images/ogp.jpg`
};

const displayTitle = '2025年7月　店舗情報のお知らせ';

// JSON-LD データ（スクリプト埋め込み用）
const breadcrumbJson = {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  itemListElement: [
    {
      "@type": "ListItem",
      position: 1,
      item: {
        "@id": BASE_URL,
        name: "トップページ"
      }
    },
    {
      "@type": "ListItem",
      position: 2,
      item: {
        "@id": `${BASE_URL}/notice`,
        name: "アイフルからのお知らせ"
      }
    },
        {
      "@type": "ListItem",
      position: 3,
      item: {
        "@id": meta.ogUrl,
        name: displayTitle
      }
    }
  ]
};
---
<NoticeLayout {meta}>
        <div class="container">
                <div class="breadcrumb">
                        <ul>
                                <li>
                                        <a href={`${BASE_URL}/`}><BRDTLIST001 /></a>
                                </li>
                                <li>
                                        <a href="/notice">アイフルからのお知らせ</a>
                                </li>
                                <li>{displayTitle}</li>
                        </ul>
      <script type="application/ld+json">
        {JSON.stringify(breadcrumbJson)}
      </script>
                </div><!-- //.breadcrumb -->
                <div class="content">
                        <main>
                                <h1>2025年7月　店舗情報のお知らせ</h1>
                                <div class="align_right">
                                        <p>2025年7月11日<br>アイフル株式会社</p>
                                </div>
                                <div class="acronym">
                                        <p>お客様各位</p>
                                </div>
                                <section>
                                        <p>いつもアイフルをご利用いただきまして、ありがとうございます。<br>下記のとおり店舗情報（新店・移転・閉店・その他）をご案内させていただきます。</p>
                                </section>
                                <section>
                                <h2>2025年7月31日付、閉店（最終営業7/31　21:00）</h2>
                                <table class="type_flex AIFULCLS2023101801">
                                        <tbody>
                                                <tr>
                                                        <th class="todoufuken">都道府県</th>
                                                        <th class="tenpomei">店舗名</th>
                                                        <th class="jyuusyo">住所</th>
                                                </tr>
                                                <tr>
                                                        <td>北海道</td>
                                                        <td>東室蘭駅前店</td>
                                                        <td>北海道室蘭市中島町３丁目２０－５　１Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td>埼玉県</td>
                                                        <td>４０７号坂戸店</td>
                                                        <td>埼玉県坂戸市大字片柳１７９９－１　１Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td>千葉県</td>
                                                        <td>６号北小金店</td>
                                                        <td>千葉県松戸市根木内字宿畑２５０番地３　１Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td rowspan="3">東京都</td>
                                                        <td>新宿東口店</td>
                                                        <td>東京都新宿区新宿３丁目２３番１２号　３Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td>立川北口店</td>
                                                        <td>東京都立川市曙町２丁目７番２１号　カクニ第一ビル８Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td>新宿南口甲州街道店</td>
                                                        <td>東京都新宿区西新宿１－１８－６　５Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td>静岡県</td>
                                                        <td>掛川店</td>
                                                        <td>静岡県掛川市中央高町１２０</td>
                                                </tr>
                                                <tr>
                                                        <td>三重県</td>
                                                        <td>伊賀上野店</td>
                                                        <td>三重県伊賀市服部町３４１－１　上野テントテナント　１Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td>滋賀県</td>
                                                        <td>４２１号八日市店</td>
                                                        <td>滋賀県東近江市春日町３－１　１Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td rowspan="2">大阪府</td>
                                                        <td>千日前通日本橋店</td>
                                                        <td>大阪府大阪市中央区日本橋１－１７－２０　４Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td>東三国駅前店</td>
                                                        <td>大阪府大阪市淀川区東三国５－１－４　２階</td>
                                                </tr>
                                                <tr>
                                                        <td>島根県</td>
                                                        <td>出雲浜山通り店</td>
                                                        <td>島根県出雲市渡橋町１０８０－４</td>
                                                </tr>
                                                <tr>
                                                        <td>岡山県</td>
                                                        <td>倉敷沖新町店</td>
                                                        <td>岡山県倉敷市沖新町６３－１３　ウィントン２２　１Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td rowspan="5">福岡県</td>
                                                        <td>行橋駅前店</td>
                                                        <td>福岡県行橋市宮市町４番２号　太陽ビル２Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td>志免店</td>
                                                        <td>福岡県糟屋郡志免町志免中央４丁目１５番３５号　１Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td>和白店</td>
                                                        <td>福岡県福岡市東区和白丘１－５５５－４</td>
                                                </tr>
                                                <tr>
                                                        <td>東合川バイパス店</td>
                                                        <td>福岡県久留米市東合川１－８－４３</td>
                                                </tr>
                                                <tr>
                                                        <td>２０８号甘木店</td>
                                                        <td>福岡県大牟田市甘木５０４</td>
                                                </tr>
                                                <tr>
                                                        <td rowspan="2">佐賀県</td>
                                                        <td>武雄店</td>
                                                        <td>佐賀県武雄市武雄町大字昭和５８　天ふじビル１Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td>唐津店</td>
                                                        <td>佐賀県唐津市和多田本村４－５０</td>
                                                </tr>
                                                <tr>
                                                        <td rowspan="2">長崎県</td>
                                                        <td>吉岡バイパス店</td>
                                                        <td>長崎県佐世保市吉岡町１７８３－１</td>
                                                </tr>
                                                <tr>
                                                        <td>時津店</td>
                                                        <td>長崎県西彼杵郡時津町浦郷４４０－７　２Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td rowspan="2">熊本県</td>
                                                        <td>２１９号人吉店</td>
                                                        <td>熊本県人吉市下林町２２６</td>
                                                </tr>
                                                <tr>
                                                        <td>２０８号玉名店</td>
                                                        <td>熊本県玉名市中字寺畑１６１６－６　１Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td rowspan="2">大分県</td>
                                                        <td>別府観光港店</td>
                                                        <td>大分県別府市汐見町８－２７　２Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td>２１７号佐伯店</td>
                                                        <td>大分県佐伯市西谷町７－８</td>
                                                </tr>
                                                <tr>
                                                        <td>宮崎県</td>
                                                        <td>１０号線日向店</td>
                                                        <td>宮崎県日向市財光寺２２５－１</td>
                                                </tr>
                                                <tr>
                                                        <td rowspan="3">鹿児島県</td>
                                                        <td>隼人国分店</td>
                                                        <td>鹿児島県霧島市隼人町真孝３７－４</td>
                                                </tr>
                                                <tr>
                                                        <td>川内店</td>
                                                        <td>鹿児島県薩摩川内市西向田町１４番地２３号　カリヤビル２Ｆ</td>
                                                </tr>
                                                <tr>
                                                        <td>天文館地蔵角交番前店</td>
                                                        <td>鹿児島県鹿児島市千日町５－８　２Ｆ</td>
                                                </tr>
                                        </tbody>
                                </table>
                                </section>
                                <section>
                                        <NewsShop />
                                </section>
                        </main><!-- //.main -->
                        <NewsSideNav />
                </div><!-- //.content -->
        </div><!-- //.container -->
</NoticeLayout>
